# Jobs

This object represents the job ad and the job process in Teamtailor. You can retrieve a list or just a single job, update and create new jobs.

## Job Object

```json
{
  "data": {
    "id": "7199",
    "type": "jobs",
    "links": {
      "careersite-job-url": "http://career.teamtailor.com/jobs/7199-new-title",
      "careersite-job-apply-url": "https://career.teamtailor.com/jobs/7199-new-title/applications/new",
      "careersite-job-apply-iframe-url": "https://career.teamtailor.com/jobs/7199-new-title/applications/new?iframe=true",
      "self": "https://api.teamtailor.com/v1/jobs/7199"
    },
    "attributes": {
      "apply-button-text": "Join us!",
      "body": "<p>lopl</p>",
      "end-date": "2016-11-25T00:00:00.000+01:00",
      "human-status": "scheduled",
      "internal": false,
      "picture": null,
      "pinned": false,
      "start-date": "2016-11-17T00:00:00.000+01:00",
      "status": "open",
      "title": "New Title",
      "tags": [
        "JavaScript",
        "Ruby"
      ],
      "external-application-url": null,
      "name-requirement": "name_optional",
      "resume-requirement": "resume_optional",
      "cover-letter-requirement": "cover_letter_optional",
      "phone-requirement": "phone_optional"
    },
    "relationships": {
      "department": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/department",
          "related": "https://api.teamtailor.com/v1/jobs/7199/department"
        }
      },
      "role": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/role",
          "related": "https://api.teamtailor.com/v1/jobs/7199/role"
        }
      },
      "location": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/location",
          "related": "https://api.teamtailor.com/v1/jobs/7199/location"
        }
      },
      "user": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/user",
          "related": "https://api.teamtailor.com/v1/jobs/7199/user"
        }
      },
      "questions": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/questions",
          "related": "https://api.teamtailor.com/v1/jobs/7199/questions"
        }
      },
      "picked-questions": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/picked-questions",
          "related": "https://api.teamtailor.com/v1/jobs/7199/picked-questions"
        }
      },
      "candidates": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/candidates",
          "related": "https://api.teamtailor.com/v1/jobs/7199/candidates"
        }
      },
      "stages": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/stages",
          "related": "https://api.teamtailor.com/v1/jobs/7199/stages"
        }
      },
      "colleagues": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/colleagues",
          "related": "https://api.teamtailor.com/v1/jobs/7199/colleagues"
        }
      }
    }
  }
}
```

### Attributes

Attribute                | Type    | Description
-------------------------|---------|------------
apply-button-text        | string  | Custom text for apply button
body                     | string  | The ad text, simple html is supported
end-date                 | date    | The Job ad's expire date
human-status             | string  | Human readable status of the job, can be one of the following: `archived`, `unlisted`, `expired`, `draft`, `published`, `scheduled` or `unsaved`
internal                 | boolean | True if internal job
picture                  | object  | Job ad's picture
pinned                   | boolean | `true` if the job is pinned to the top on the career site
start-date               | date    | Scheduled date to publish the job ad
status                   | string  | The job's status, can be one of the following: `open`, `draft`, `archived`, `unlisted` or `temp`
title                    | string  | The title on the job ad
tags                     | array   | Array of string for each tag
external-application-url | string  | Optional attribute for where candidates should be linked when applying for the job.
name-requirement         | string  | Allowed options: `name_off`, `name_optional`, `name_required`
resume_requirement       | string  | Allowed options: `resume_off`, `resume_optional`, `resume_required`
cover-letter-requirement | string  | Allowed options: `cover_letter_off`, `cover_letter_optional`, `cover_letter_required`
phone-requirement        | string  | Allowed options: `phone_off`, `phone_optional`, `phone_required`

### Links

Link                             | Description
---------------------------------|------------
careersite-job-url               | View job on the Career site
careersite-job-apply-url         | URL to the application form
careersite-job-apply-iframe-url  | URL for application iframe `src`


### Relations

Relation   | Description
-----------|------------
user       | The recruiter
department | The department of the job
role       | The role of the job
location   | Where the job is located
questions  | The job's questions
candidates | Candidates who have applied to the job
stages     | The recruitment stages of the job
colleagues | The `users` that are displayed as colleagues on the job ad
