## Show a Job

```http
GET https://api.teamtailor.com/v1/jobs/{id} HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>
```

```shell
curl -X "GET" "https://api.teamtailor.com/v1/jobs/{id}" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
```

> Example response

```json
{
  "data": {
    "id": "7199",
    "type": "jobs",
    "links": {
      "careersite-job-url": "http://career.teamtailor.com/jobs/7263-yay-horray-3",
      "careersite-job-apply-url": "https://career.teamtailor.com/jobs/7263-yay-horray-3/applications/new",
      "self": "https://api.teamtailor.com/v1/jobs/7263"
    },
    "attributes": {
      "body": "<p>hello world</p>",
      "end-date": null,
      "human-status": "published",
      "internal": false,
      "picture": null,
      "pinned": false,
      "start-date": null,
      "status": "open",
      "title": "My new job"
    },
    "relationships": {
      "department": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/department",
          "related": "https://api.teamtailor.com/v1/jobs/7263/department"
        }
      },
      "role": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/role",
          "related": "https://api.teamtailor.com/v1/jobs/7263/role"
        }
      },
      "location": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/location",
          "related": "https://api.teamtailor.com/v1/jobs/7263/location"
        }
      },
      "user": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/user",
          "related": "https://api.teamtailor.com/v1/jobs/7263/user"
        }
      },
      "questions": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/questions",
          "related": "https://api.teamtailor.com/v1/jobs/7263/questions"
        }
      },
      "candidates": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/candidates",
          "related": "https://api.teamtailor.com/v1/jobs/7263/candidates"
        }
      },
      "stages": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7263/relationships/stages",
          "related": "https://api.teamtailor.com/v1/jobs/7263/stages"
        }
      }
    }
  }
}
```

Retreive a specific job.

Parameter | Description
--------- | -----------
id        | The job's id.
