## Update Job

```http
PATCH https://api.teamtailor.com/v1/jobs/7199 HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>

{
  "data": {
    "id": "7199",
    "attributes": {
      "title": "New Title",
      "status": "unlisted"
      "tags": [
        "JavaScript"
      ]
    },
    "type": "jobs"
  }
}
```

```shell
curl -X "PATCH" "https://api.teamtailor.com/v1/jobs/7199" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
     -H "Content-Type: application/vnd.api+json" \
     -d "{\"data\":{\"id\":\"7199\",\"attributes\":{\"title\":\"New Title\",\"status\":\"unlisted\"},\"type\":\"jobs\"}}"
```

> Example response

```json
{
  "data": {
    "id": "7199",
    "type": "jobs",
    "links": {
      "careersite-job-url": "http://career.teamtailor.com/jobs/7199-yay-horray",
      "careersite-job-apply-url": "https://career.teamtailor.com/jobs/7199-yay-horray/applications/new",
      "self": "https://api.teamtailor.com/v1/jobs/7199"
    },
    "attributes": {
      "apply-button-text": "Join us!",
      "body": "<p>lopl</p>",
      "end-date": null,
      "human-status": "published",
      "internal": false,
      "picture": null,
      "pinned": false,
      "start-date": null,
      "status": "open",
      "title": "yay horray",
      "tags": [
        "JavaScript"
      ],
      "external-application-url": null,
      "created_at": "2016-11-17T00:00:00.000+01:00"
    },
    "relationships": {
      "department": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/department",
          "related": "https://api.teamtailor.com/v1/jobs/7199/department"
        }
      },
      "role": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/role",
          "related": "https://api.teamtailor.com/v1/jobs/7199/role"
        }
      },
      "location": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/location",
          "related": "https://api.teamtailor.com/v1/jobs/7199/location"
        }
      },
      "user": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/user",
          "related": "https://api.teamtailor.com/v1/jobs/7199/user"
        }
      },
      "questions": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/questions",
          "related": "https://api.teamtailor.com/v1/jobs/7199/questions"
        }
      },
      "candidates": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/candidates",
          "related": "https://api.teamtailor.com/v1/jobs/7199/candidates"
        }
      },
      "stages": {
        "links": {
          "self": "https://api.teamtailor.com/v1/jobs/7199/relationships/stages",
          "related": "https://api.teamtailor.com/v1/jobs/7199/stages"
        }
      }
    }
  }
}
```

Change a job's attributes/relationships.
