# Teamtailor API

If you have any question or feedback please contact us at <a href="mailto:support@teamtailor.com">support@teamtailor.com</a>

### Example use cases:

* Build a custom career site. Display info about jobs, departments and locations.
* List current job openings
* Get detailed information about individual jobs
* Create new jobs

