# Users

## User Object

```json
{
  "data": {
    "id": "4468",
    "type": "users",
    "links": {
      "self": "https://api.teamtailor.com/v1/users/4468"
    },
    "attributes": {
      "description": "<p>test</p>",
      "email": "jonas@example.com",
      "external-id": null,
      "facebook-profile": "https://www.facebook.com/himynameisjonas",
      "google-profile": "",
      "hide-email": false,
      "instagram-profile": "http://instagram.com/himynameisjonas",
      "linkedin-profile": "https://www.linkedin.com/in/himynameisjonas",
      "login-email": "jonas@example.com",
      "name": "Jonas Brusman",
      "other-profile": "http://himynameisjonas.net",
      "phone": "",
      "picture": {
        "standard": "https://res.cloudinary.com/teamtailor-development/image/upload/c_fill,dpr_2.0,f_auto,g_faces:center,h_160,q_80,w_160/v1423832344/hbwennnqa7uo7kubkzry.jpg"
      },
      "role": "admin",
      "title": "Developer",
      "twitter-profile": "https://twitter.com/himynameisjonas",
      "username": "jonas5",
      "visible": true,
      "signature": " -- John Doe",
      "notification-candidate-message": true,
      "notification-job": true,
      "notification-connected-candidate": true,
      "notification-mention": true,
      "notification-lead-message": true,
      "notification-hiring-team-application": true,
      "notification-daily-digest": true,
      "notification-recruiter-application": true,
      "notification-removal-request": true,
      "notification-gdpr-digest": true
    },
    "relationships": {
      "department": {
        "links": {
          "self": "https://api.teamtailor.com/v1/users/4468/relationships/department",
          "related": "https://api.teamtailor.com/v1/users/4468/department"
        }
      },
      "location": {
        "links": {
          "self": "https://api.teamtailor.com/v1/users/4468/relationships/location",
          "related": "https://api.teamtailor.com/v1/users/4468/location"
        }
      },
      "jobs": {
          "links": {
            "self": "https://api.teamtailor.com/v1/users/4468/relationships/jobs",
            "related": "https://api.teamtailor.com/v1/users/4468/jobs"
          }
        }
      }
    }
  }
}
```

### Attributes

Attribute                               | Type    | Description
----------------------------------------|---------|---------------------------
description                             | string  | About text, visible on the public profile
email                                   | string  | Used for notifications and might be visible on career site profile **Requires admin permission if hidden.**
external-id                             | string  | Use to store your own ID to refernce users by. Will also be used in SSO logins to look up users if sent as name-id.
facebook-profile                        | string  | URL to Facebook profile
google-profile                          | string  | URL to Google+ profile
hide-email                              | boolean | If e-mail address should be hidden on career site
instagram-profile                       | string  | URL to Instagram profile
linkedin-profile                        | string  | URL to LinkedIn profile
login-email                             | string  | Account email used to login (might be separate than email on career site profile). Can be null until user accepts invitation. **Requires admin permission**
merge                                   | boolean | __Write only__ True if the attributes should be merged with an existing user, matched by email address.
name                                    | string  | The user's name
other-profile                           | string  | URL to other profile
phone                                   | string  | Phone number
picture                                 | string  | Url to user picture
role                                    | string  | Permission role (`no_access`, `user`, `recruiter`, `designer` or `admin`)
title                                   | string  | Title, e.g 'CEO' or 'Account manager'
twitter-profile                         | string  | URL to Twitter profile
username                                | string  | Internal username, used in mentions
visible                                 | boolean | If profile is visible on the career site
signature                               | string  | Email signature
notification-candidate-message          | boolean | Notifiy user when candidate replies to an email **Requires admin permission.**
notification-job                        | boolean | Notify user when new job is published **Requires admin permission.**
notification-connected-candidate        | boolean | Notify user when a candidate connects with your company **Requires admin permission.**
notification-mention                    | boolean | Notify user when a team member mentions them **Requires admin permission.**
notification-lead-message               | boolean | Notify user when a visitor writes a message **Requires admin permission.**
notification-hiring-team-application    | boolean | Notify user when a candidate applies for a job where they're part of the hiring team **Requires admin permission.**
notification-daily-digest               | boolean | Receive a daily digest email with all activities in the hiring teams **Requires admin permission.**
notification-recruiter-application      | boolean | Notify user when a candidate applies for a job where they are a recruiter **Requires admin permission.**
notification-removal-request            | boolean | Notify user when a candidate asked to be removed (for GDPR managers only) **Requires admin permission.**
notification-gdpr-digest                | boolean | Sends daily digest of GDPR/data retention activities (for GDPR managers only) **Requires admin permission.**

### Relations

Relation   | Description
-----------|------------
department | Listed under this department on the career site
location   | Listed under this location on the career site
jobs       | Jobs the user is recruiter for
