## List users

```http
GET https://api.teamtailor.com/v1/users HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>
```

```shell
curl -X "GET" "https://api.teamtailor.com/v1/users" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
```

> Example response

```json
{
  "data": [
    {
      "id": "819",
      "type": "users",
      "links": {
        "self": "https://api.teamtailor.com/v1/users/819"
      },
      "attributes": {
        "description": "<p>I have been doing IT-related business/product development for the last 10 years.</p>",
        "email": "erik@example.com",
        "facebook-profile": "https://www.facebook.com/eandersson",
        "google-profile": "",
        "hide-email": false,
        "instagram-profile": "http://instagram.com/erianderssson",
        "linkedin-profile": "http://se.linkedin.com/in/erikandersson",
        "login-email": "erik@example.com",
        "name": "Erik Andersson",
        "other-profile": "",
        "phone": "+46735000131",
        "picture": {
          "standard": "https://res.cloudinary.com/teamtailor-development/image/upload/c_fill,dpr_2.0,f_auto,g_faces:center,h_160,q_80,w_160/v1418376224/bhtsaivvnjj1zk4kpgjn.jpg"
        },
        "role": "admin",
        "title": "CEO",
        "twitter-profile": "",
        "username": "erikandersson2",
        "visible": true,
        "notification-candidate-message": true,
        "notification-job": true,
        "notification-connected-candidate": true,
        "notification-mention": true,
        "notification-lead-message": true,
        "notification-hiring-team-application": true,
        "notification-daily-digest": true,
        "notification-recruiter-application": true,
        "notification-removal-request": true,
        "notification-gdpr-digest": true
      },
      "relationships": {
        "department": {
          "links": {
            "self": "https://api.teamtailor.com/v1/users/819/relationships/department",
            "related": "https://api.teamtailor.com/v1/users/819/department"
          }
        },
        "location": {
          "links": {
            "self": "https://api.teamtailor.com/v1/users/819/relationships/location",
            "related": "https://api.teamtailor.com/v1/users/819/location"
          }
        }
      }
    },
    {
      "id": "1801",
      "type": "users",
      "links": {
        "self": "https://api.teamtailor.com/v1/users/1801"
      },
      "attributes": {
        "description": "<p>I'm a passionate web developer.</p>",
        "email": "richard@example.com",
        "facebook-profile": "https://www.facebook.com/richard.johansson",
        "google-profile": "",
        "hide-email": false,
        "instagram-profile": "http://instagram.com/richardjohansso",
        "linkedin-profile": "http://se.linkedin.com/in/richardjohansson",
        "login-email": "richard@example.com",
        "name": "Richard Erik Johansson",
        "other-profile": "",
        "phone": "",
        "picture": {
          "standard": "https://res.cloudinary.com/teamtailor-development/image/upload/c_fill,dpr_2.0,f_auto,g_faces:center,h_160,q_80,w_160/v1472197022/ctiiyiwfpif7nhdjuf6l.jpg"
        },
        "role": "user",
        "title": "Developer",
        "twitter-profile": "http://Twitter.com/richardjohansso",
        "username": "richarderikjohansson",
        "visible": true,
        "notification-candidate-message": true,
        "notification-job": true,
        "notification-connected-candidate": true,
        "notification-mention": true,
        "notification-lead-message": true,
        "notification-hiring-team-application": true,
        "notification-daily-digest": true,
        "notification-recruiter-application": true,
        "notification-removal-request": true,
        "notification-gdpr-digest": true
      },
      "relationships": {
        "department": {
          "links": {
            "self": "https://api.teamtailor.com/v1/users/1801/relationships/department",
            "related": "https://api.teamtailor.com/v1/users/1801/department"
          }
        },
        "location": {
          "links": {
            "self": "https://api.teamtailor.com/v1/users/1801/relationships/location",
            "related": "https://api.teamtailor.com/v1/users/1801/location"
          }
        }
      }
    }
  ],
  "meta": {
    "record-count": 20,
    "page-count": 2
  },
  "links": {
    "first": "https://api.teamtailor.com/v1/users?page%5Bnumber%5D=1&page%5Bsize%5D=10",
    "next": "https://api.teamtailor.com/v1/users?page%5Bnumber%5D=2&page%5Bsize%5D=10",
    "last": "https://api.teamtailor.com/v1/users?page%5Bnumber%5D=2&page%5Bsize%5D=10"
  }
}
```

Use this endpoint to retrieve lists of users.

### Example parameters

Parameter          | Default      | Description
-------------------| ------------ | -----------
include            | null         | Comma separated list of relations to include in the response. For example `department,location`.
filter[email]      | null         | Filter by email address.
filter[department] | null         | Filter by department.
sort               | id           | Sort list by any of the user attributes.
